.ProfileText{
    margin-left: 100px;
    margin-top: 13px;
    
}
.Profile{
background-color: #F2F8FF
}
.search{
    box-sizing: border-box;
    position: absolute;
    left: 21%;
    right: 53%;
    top: 63px;
    bottom: 84%;

    background: #FFFFFF;
    border: 1px solid #0F6AAB;
    border-radius: 5px;
}
.Adsbutton{
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    /* padding: 8px 16px; */
    gap: 4px;
    color: #FFFFFF;

    position: absolute;
    width: 119px;
    height: 40px;
    /* left: 1734px;
    top: 108px; */

    background: #0F6AAB;
    border-radius: 4px #0F6AAB;
}
.ui{
    position: absolute ;
    left:100px;
    top:160px;

}

.button1{
    position: relative;
    left: 1022px;
    top: -40px;

}
a.button1{
    
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #0F6AAB;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    background-color:#0F6AAB;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#ffffff;
    text-align:center;
    transition: all 0.2s;
}
a.button1:hover{
    color:#0F6AAB;
    background-color:#ffffff;
}
@media all and (max-width:30em){
a.button1
{
    display:block;
    margin:0.4em auto;
}
}


.profile{
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column1,.column2 {
    float: left;
    width: 25%;
    padding: 0 10px;
    
  }
  .inline{
    margin-bottom: 20px;
  }
  .column2{
    margin-left: 100px;
    width: 55%;
  }
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .Label{
    color: #0F6AAB;
    font-weight: bold;
    margin-right: 5px;
  }
  /* Style the counter cards */
  .card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) */
    padding: 16px;
    text-align: left;
    background-color: #fdfdfd;
    margin-top: 50px;
    border:0px
  }
  #img{
    background-color: #F2F8FF;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }





