.Shoppingimage{
    width: 462px;  
}
.Signup{
    margin: 0;
    padding: 0;
}
.Signupleft {
    width: 50%;
    float: left;
   
}  
.Signupright {
    width: 50%;
    float: left;  
    padding-right: 150px;
    padding-left: 150x;
}  

.Logo{
    width: 118.52px ;
    margin-top: 50px;
    margin-left: 25%;
    margin-bottom: 60px;
}

.Signupright>p{
    margin-bottom: 5px;
}
.Signupright>h2{
    margin-bottom: 20px;
}
.Signupright>input{
    width: 10px;
}
.Signupbutton{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.Signupbutton:hover {
    color: rgb(255, 255, 255);
  }
.signin{
    align-items: center;
    padding-top: 20px;
}
.linktosignin{
    text-decoration: none;
}